*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #110026, #3c005c, #110026);
    color: #e6e6e6;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #fff;
    font-family: "inter";
}

img.profile{
    border-radius: 50%;
    width: 8rem;
    border: solid 3px #9500ff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.header h1, p, span, h3{
    font-family: "arial";
}

.header h1, span {
    text-shadow: 0.1rem 0.1rem #000
}

.header span {
    color: rgb(240, 240, 240);
    font-size: 0.9rem;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 720px;
}

.links a:hover{
    filter: brightness(1.2);
}

.technologies{
    margin-top: 1.5rem;
}

.technologies ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: #9500ff;
}


.technologies ul li i{
    font-size: 1.4rem;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.technologies ul li{
    border-radius: 50%;
    background-color: #5f00a3;
    padding: .5rem;
}

.technologies ul li > i:hover {
    color: #9500ff
}

.contact ul{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.contact ul li i{
    background-color: #5f00a3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.contact ul li i{
    font-size: 2rem;
    color: #fff;
    transition: color 0.3s ease;
}

.contact ul li i:hover{
    color: #9500ff;
}

.contact h2{
    text-align: center;
    margin-top: 3rem;
}

.card{
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
    border-radius: 8px;
    background-color: #5f00a3;
    padding-bottom: 0.5rem;
}

.card img{
    object-fit: contain;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.articles{
    margin-top: 2rem;
}

.scroll-content{
    display: flex;
    gap: 0.5rem;
}

.line{
    height: 1px;
    width: 100%;
    background: linear-gradient(45deg, #110026, #8000c5, #110026);
    margin: 1rem;
}